.btn {
	width: 45px;
	height: 45px;
	background: var(--veryDarkBlue);
	border-radius: 10px;
}

.btn > input {
	width: 100%;
	height: 100%;
}

.btn__document {
	background: var(--iconDocument);
}

.btn__folder {
	background: var(--iconFolder);
}

.btn__upload {
	background: var(--iconUpload);
}